<div class="card card-container" *ngIf="currentUser; else loggedOut">
  <h4 class="text-center">User Profile</h4>
  <div class="text-center">
    <img
      [src]="currentUser.profilePicture"
      class="rounded-3"
      style="width: 150px"
      alt="Avatar"
    />
  </div>
  <br />
  <!-- <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3> -->

  <button class="btn btn-info" (click)="onUpload()">Upload Profile</button>
  <input
    type="file"
    #fileInput
    style="display: none"
    (change)="onFileSelected($event)"
  />
  <br />
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Name:</strong>
    {{ currentUser.firstname }} {{ currentUser.lastname }}
  </p>
</div>

<ng-template #loggedOut> Please login. </ng-template>
