<div class="container">
  <h3>Change Password</h3>
  <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <label for="oldPassword">Old Password:</label>
        <input type="oldPassword" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
          name="confirmPassword" required>
      </div>
    </div>
    <div class="error" *ngIf="passwordForm.invalid && (passwordForm.dirty || passwordForm.submitted)">
      Please enter a valid password and make sure the passwords match.
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Submit</button>
      </div>
    </div>
    <br>
  </form>

</div>